@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 62.5%;
    min-height: 100vh;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

#root {
    --red: rgb(230, 57, 70);
    --dark_red: rgb(211, 48, 61);
    --gray: rgb(241, 250, 238);
    --light_turquoise: rgb(168, 218, 220);
    --turquoise: rgb(69, 123, 157);
    --dark_turquoise: rgb(29, 53, 87);
}

/* Font highlight */
.dark_turquoise_font {
    color: var(--turquoise);
    font-weight: bold;
}

/* Containers */
.container {
    background-color: white;
    margin: 3rem auto;
    width: 90%;
    min-height: 100%;
}

@media (min-width: 480px) {
    .container {
        width: 80%;
    }
}

.borddered_container {
    padding: 0.5rem;
    border: 0.1rem solid darkgray;
    border-radius: 1rem;
}

.form_container {
    background-color: var(--gray);
    padding: 3rem 2rem;
    width: 80%;
    border-radius: 2rem;
}

@media (min-width: 480px) {
    .form_container {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .form_container {
        width: 50%;
    }
}

/* Forms */
.form_field {
    border: none;
    border-radius: 1rem;
    border: solid 0.2rem var(--light_turquoise);
}

.form_field:focus {
    outline: none;
    border: solid 0.2rem var(--turquoise);
}

/* Buttons */
.button {
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem 0;
}

.button:hover {
    cursor: pointer;
}

.button.red_bg {
    background-color: var(--red);
    transition: 0.2s ease-in;
}

.red_bg:hover {
    background-color: var(--dark_red);
    transition: 0.2s ease-out;
}

.button.turquoise_bg {
    background-color: var(--turquoise);
    transition: 0.2s ease-in;
}

.turquoise_bg:hover {
    background-color: var(--dark_turquoise);
    transition: 0.2s ease-out;
}

/* Links */
.simple_link {
    text-decoration: none;
    color: var(--turquoise);
    transition: 0.2s ease-in;
}

.simple_link:hover {
    color: var(--dark_turquoise);
    transition: 0.2s ease-out;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.tag {
    color: var(--dark_turquoise);
    text-decoration: none;
    padding: 0.6rem;
    border: 0.1rem solid var(--turquoise);
    border-radius: 1rem;
    transition: 0.2s ease-in;
}

.tag:hover {
    cursor: pointer;
    color: white;
    background-color: var(--turquoise);
    transition: 0.2s ease-out;
}