.new_recipe_content h1 {
    text-align: center;
    margin: 2rem auto;
}

.recipe_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.recipe_form .form_field {
    font-size: 1.6rem;
    padding: 0.3rem;
}

/* Details */
.recipe_details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 1rem;
    font-size: 1.8rem;
}

@media (min-width: 900px) {
    .recipe_details {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .recipe_details :first-child {
        grid-column: 1/-1;
    }
}

.recipe_details .detail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detail input,
.detail select {
    text-align: center;
}

.detail .duration {
    display: flex;
    gap: 1rem;
    min-width: 0;
}

.duration label {
    display: flex;
    gap: 0.5rem;
    min-width: 0;
    flex-basis: 50%;
}

.duration label input {
    flex-grow: 1;
    min-width: 0;
}